.bg-white{
    background-color: white;
    padding-top: 1rem;
    margin-top:2rem;
    padding-bottom: 1rem;
    height: fit-content;
}
.slight-left{
    position: relative;
    left: -1.9%;
}

.homeunderline{
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(255,87,34);
  margin-left: 0;
  margin-top: 1rem;
}

  
  .icons {
    font-size: 2rem;
    color:  rgb(255, 87, 34);
  }



.home-navigation{
  display: flex;
  flex: col 1;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  gap:45px;

}

.Three-d-icons{
height: 50px;
width: 50px;
}

.icon-text-adjustment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}


  
.icon-text-adjustment div {
  font-size: 0.9rem;
  color: rgb(1,76,76);
  font-weight: 500;
}



@media screen and (max-width:485px) {
  
.Three-d-icons{
  height: 50px;
  width: 50px;
  }
  
  .icon-text-adjustment div {
    display: none;
    color: rgb(1,76,76);
    font-weight: 500;
  }

  
}

@media screen and (max-width:750px) {
  
  .home-navigation{
    gap:30px;
  
  }
  .underline{
    width: 100%;
  }
    
  }

  @media screen and (max-width:520px) {
  
    .home-navigation{
      gap:20px;
    
    }
    .underline{
      width: 100%;
    }
      
    }
  
